//  VARIABLES - COLORS

//white
$white: #fff;

//blue
$scooter: #31BED7;
$turquoise: #58DCF0;
$cerulean: #0CA7C3;

//white with blue tint
$polar: #EAF9FB;

//black
$thunder: #231F20;

//red
$cardinal: #BE1E2D;

//green
$apple: #61AA45;

//gray
$gray: #e2e2e2;

//black
$cod: #1D1D1D;
$black: #000;