// ==========================================================================
// MODULES - MENUS
// ==========================================================================
$desktopNavSpacing : 20px;
#navs {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;

    #desktop-nav {
        margin: 20px 30px 0 0;

        @media screen and (max-width: 768px) {
            display: none;
        }

        ul {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-content: center;
            flex-wrap: wrap;

            li {
                margin-right: $desktopNavSpacing;
                text-align: center;

                &:last-child {
                    margin-right: 0;
                }

                &#langSwitch {
                    position: relative;

                    &:before {
                        content: "";
                        position: absolute;
                        left: 0px;
                        height: 10px;
                        width: 1px;
                        top: 50%;
                        transform: translateY(-50%);
                        background: red;
                    }
                }

                &.current {

                    a {
                        @include filson-700;
                        text-decoration: underline;
                    }
                }

                &:not(.current) {
                    a {
                        margin-left: $desktopNavSpacing;
                        text-decoration: none !important;
                        @include filson-400;
                    }
                }

                a {
                    display: inline-block;
                    font-size: 16px;
                    line-height: 22px;
                    color: #fff;

                    &:hover {
                        text-decoration: underline;
                    }
                }

                &#backToPrev {
                    flex-grow: 1;
                    text-align: left;
                    display: flex;
                    flex-direction: row;

                    a {
                        margin-left: 30px;
                        text-decoration: none !important;
                    }

                    #backToPrevArrow {
                        margin-right: 4px;
                        align-content: center;
                    }
                }
            }
        }
    }

    #mobile-nav {
        display: none;

        @media screen and (max-width: 768px) {
            display: block;
        }

        #topbar {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            background: $white;
            z-index: 2;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding: 10px 15px;

            #hamburger {
            }

            #logos {
            }
        }

        #panel {
            position: absolute;
            top:55px;
            left: 0;
            width: 100%;
            background: $white;
            z-index: 1;
            display: none;

            &.visible {
                display: block;

                @media screen and (max-width: 768px) {
                    display: block;
                }
            }

            #mobile-menu {
                padding: 10px 15px 25px 15px;
                border-bottom:1px solid $scooter;

                li {
                    padding: 10px 0;
                    text-align: left;

                    a {
                        @include filson-700;
                        color: $scooter;
                        text-decoration: underline;
                        font-size: 18px;
                        line-height: 22px;
                    }
                    &.current{
                        a{
                            text-decoration:none;
                        }
                    }
                }
            }
        }
    }
}
.nutritionFact-page, .about-page {
    #navs #desktop-nav ul li a {
        color: $scooter;
    }
}

#pencet {
    display: flex;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

#pencet span {
    background-color: $scooter;
    width: 40px;
    height: 4px;
    margin: 4px 0;
    display: block;
    transition: all .4s ease;
    transform-origin: 0 0;
}

#pencet span:nth-child(2) {
    position: relative;
    left: -10px;
    width: 20px;
}

.Diam span:nth-child(1) {
    transform: rotate(45deg) translate(1px, -5px);
}

.Diam span:nth-child(2) {
    Transform: scaleX(0);  
}

.Diam span:nth-child(3) {
    transform: rotate(-45deg) translate(-1px, 0);
}