@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "_Master.cshtml";
    var pageNode = Model.Content;

    var pageTitle = pageNode.GetPropertyValue<string>("pageSubtitle");
    var pageIntro = pageNode.GetPropertyValue<HtmlString>("introText");
    var resourcesListing = pageNode.GetPropertyValue<IEnumerable<IPublishedContent>>("resourcesListing");
}
    <div id="resources">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    @if (!pageTitle.IsNullOrWhiteSpace())
                    {
                        <h1 class="title">@pageTitle</h1>
                    }
                    @if (!pageIntro.ToString().IsNullOrWhiteSpace())
                    {
                        <div class="rte">@pageIntro</div>
                    }
                </div>
            </div>
        </div>

        @if (resourcesListing != null && resourcesListing.Any())
        {
            <div class="resourcesListingBg">
                <div class="container-fluid">
                    <div class="row resourcesListingContent">
                        @foreach (var resource in resourcesListing)
                        {
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                <div class="resourceContainer">
                                    <p>test</p>
                                </div>
                            </div>
                        }
                    </div>

                </div>
            </div>
        }
    </div>