// ==========================================================================
// TEMPLATES - HOME
// ==========================================================================

.landing-page {
    background: url(../../images/placeholders/Bg_Pattern.svg) repeat, linear-gradient(90deg, rgba(49,175,198,1) 0%, rgba(77,208,229,1) 100%);
    background-attachment: fixed;
}
#landingNode {
    //background-color: $scooter;
    margin-top: -54vh;

    .profileContainer {
        min-height: 380px;
        border: 2px solid #fff;
        border-radius: 15px;
        overflow: hidden;
        position: relative;

        .profileTitle {

            .info {
                position: absolute;
                top: 26px;
                left: 15px;
                color: #fff;
                z-index: 2;

                .findImgTxtTitle {
                    @include filson-italic-900;
                    font-size: 35px;
                    line-height: 38px;
                    color: #fff;
                    text-decoration: none;
                    margin-bottom: 13px;
                    text-shadow: 0px 0px 8px rgba(0,0,0,0.5);
                }

                .globalCtaArrowStyle {
                    stroke: #fff;
                }
            }

            .imgContainer {
                opacity: 1;
                transition: opacity 0.2s ease-out;
                transform: scale(1.1);

                .posterImg {
                    visibility: hidden;
                }
            }


            &:hover {
                .imgContainer {
                    opacity: .8;
                    filter: blur(4px);
                    transition: opacity 0.2s ease-out, filter 0.1s ease-in;
                    transition-delay: 0, 0.1s;
                }
            }
        }

        @media screen and (max-width: 1023px) {
            margin-bottom: 20px;

            .imgContainer {
                background-position: center top !important;
                max-height: 474px;
            }
        }
    }

    @media screen and (min-width: 1024px) {
        .grid-container {
            display: grid;
            grid-gap: 30px;
            margin-top: 30px;
            width: 100%;

            #profile-1 {
                grid-column-start: 1;
                grid-column-end: 4;
                grid-row-start: 1;
                grid-row-end: 6;
            }

            #profile-2 {
                grid-column-start: 4;
                grid-column-end: 7;
                grid-row-start: 1;
                grid-row-end: 3;
            }

            #profile-3 {
                grid-column-start: 7;
                grid-column-end: 10;
                grid-row-start: 1;
                grid-row-end: 3;
            }

            #profile-4 {
                grid-column-start: 4;
                grid-column-end: 10;
                grid-row-start: 3;
                grid-row-end: 11;
            }

            #profile-5 {
                grid-column-start: 1;
                grid-column-end: 4;
                grid-row-start: 6;
                grid-row-end: 11;
            }

            #profile-6 {
                grid-column-start: 1;
                grid-column-end: 6;
                grid-row-start: 11;
                grid-row-end: 14;
            }
            /*#profile-7 {
                grid-column-start: 3;
                grid-column-end: 6;
                grid-row-start: 11;
                grid-row-end: 14;
            }*/
            #profile-7 {
                grid-column-start: 6;
                grid-column-end: 10;
                grid-row-start: 11;
                grid-row-end: 17;
            }

            #profile-8 {
                grid-column-start: 1;
                grid-column-end: 3;
                grid-row-start: 14;
                grid-row-end: 17;
            }

            #profile-9 {
                grid-column-start: 3;
                grid-column-end: 6;
                grid-row-start: 14;
                grid-row-end: 17;
            }
        }
    }
}