// ==========================================================================
// MODULES - BUTTONS
// ==========================================================================
.globalCta, .triggerGlobalArrow {
    @include filson-italic-700;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.34px;
    text-decoration: none !important;

    .globalCtaArrow {
        margin-left: 10px;

        .globalCtaArrowStyle {
        }
    }

    &:hover {
        .globalCtaArrow {
            margin-left: 14px;
            transition: $basicTransition;

            .globalCtaArrowStyle {
            }
        }
    }
}

