// ==========================================================================
// MODULES - BUTTONS
// ==========================================================================
.globalCta, .triggerGlobalArrow {
    @include filson-italic-700;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.34px;
    text-decoration: none !important;

    .globalCtaArrow {
        margin-left: 10px;

        .globalCtaArrowStyle {
        }
    }

    &:hover {
        .globalCtaArrow {
            margin-left: 14px;
            transition: $basicTransition;

            .globalCtaArrowStyle {
            }
        }
    }
}


.globalDownloadCta {
    background: $white;
    color: $scooter;
    font-size: 17px;
    line-height: 20px;
    @include filson-italic-700;
    border-radius: 40px;
    display: inline-block;
    padding: 8px 20px;

    svg {
        .a {
            fill: #31bed7;
        }

        .b {
            fill: none;
            stroke: #31bed7;
            stroke-linecap: round;
        }
    }
}