// ==========================================================================
// LAYOUT - FOOTER
// ==========================================================================
footer {

    .followingContent {
        background: $scooter;

        #followingContentImg {
            width: 100%;
            height: 100%;
            min-height: 235px;
        }

        #followingContentxtContainer {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;
            height: 100%;
            text-decoration: none !important;

            @media screen and (max-width: 768px) {
                padding:60px 10%;
            }

            #followingContentTxt {
                padding-right: 20px;
                padding-left: 10%;
                text-align: right;

                @media screen and (max-width: 768px) {
                    padding-right: 0;
                    padding-left: 0;
                    text-align: center;
                }


                #followingContentTagline {
                    @include filson-400;
                    font-size: 22px;
                    line-height: 32px;
                    color: $white;
                }

                #followingContentTitle {
                    @include filson-italic-900;
                    font-size: 36px;
                    line-height: 38px;
                    color: $white;
                }
            }

            #followingContentArrow {
                path {
                    fill: #fff;
                }
            }

            &:hover {
                #followingContentArrow {
                    transition: $basicTransition;
                    transform: scale(1.05);
                }
            }
        }
    }

    #footerLeft {
        background: $white;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 20px;
        padding-left: 20%;

        @media screen and (max-width: 768px) {
            padding-left: 20px;
        }
    }

    #footerRight {
        background: $polar;
        width: 100%;
        height: 100%;
        padding: 20px 28% 20px 20px;

        @media screen and (max-width: 768px) {
            padding-right: 20px;
        }

        .footerContent {
            padding-left: 12%;

            @media screen and (max-width: 768px) {
                padding-left: 0;
            }
        }
    }

    .footerContent {
        text-align: left;
        height: 100%;
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .footerNewsletter {
        #fnTitle {
            margin-bottom: 25px;
        }

        #fnText {
        }

        #newsletter-form {
            position: relative;
            margin-top: 25px;

            #email {
                width: 100%;
                position: relative;
                border: 2px solid $scooter;
                background: $white;
                border-radius: 50px;
                padding: 10px 30px;

                &::placeholder {
                    color: $scooter !important;
                    font-size: 16px;
                    line-height: 20px;
                    @include century-400;
                }
            }

            #submitNewsletter {
                position: absolute;
                top: 2px;
                height: calc(100% - 4px);
                right: 20px;
                outline: none;
                border: none;
                background: rgba(255,255,255,1);
                @include filson-italic-500;
                letter-spacing: 0.34px;
                color: $scooter;
                font-size: 17px;
                line-height: 17px;
                padding-left: 20px;

                #submitArrow {
                    padding-left: 5px;
                }

                &:before {
                    content: "";
                    width: 1px;
                    height: 15px;
                    background: $scooter;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 10px;
                }

                &:hover {
                    opacity: 0.7;
                }
            }
        }
    }

    #footerNav {
        height: 85%;

        ul {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;

            li {
                text-align: left;

                &:last-child {
                    margin-right: 0;
                }

                &.current {
                    a {
                        @include filson-700;
                        text-decoration: none;
                    }
                }

                &:not(.current) {
                    a {
                        text-decoration: underline;
                        @include filson-700;
                    }
                }

                a {
                    display: inline-block;
                    color: $black;
                    font-size: 16px;
                    line-height: 22px;
                }
            }
        }
    }

    #footerLogo {
        display: flex;
        flex-direction: row;
        align-items: flex-end;

        #copyright {
            display: inline-block;
            font-size: 12px;
            line-height: 14px;
            margin-left: 10px;
            max-width: 145px;
        }
    }
}
