/* FONTS */
/*Reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

h1, h2 {
  font-weight: unset; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@media screen and (max-width: 767px) {
  .noBrMobile br {
    display: none; } }

textarea, input {
  outline: none;
  -webkit-appearance: none; }

.dfcLogoSvg .a {
  fill: #00a1ed; }

.dfcLogoSvg .b {
  fill: #fff; }

.dietitianLogoSvg .a {
  fill: #fff; }

.dietitianLogoSvg .b {
  fill: #231f20; }

.dietitianLogoSvg .c {
  fill: #be1e2d; }

.dietitianLogoSvg .d {
  fill: #61aa45; }

.img-responsive {
  max-width: 100%;
  width: 100%;
  height: auto;
  display: inline-block; }

#nutritionFactsListing {
  margin-top: -54vh; }

#nutritionFact {
  margin-top: -29vh; }

.pageHeader.full {
  padding-top: 100px;
  padding-bottom: 54vh; }

.pageHeader.article {
  padding-top: 100px;
  padding-bottom: 29vh;
  background: white;
  background: url(../../images/placeholders/Bg_Pattern_On_White.svg) repeat, linear-gradient(90deg, white 0%, white 100%);
  background-attachment: fixed; }

#headerLogosContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 40px; }
  @media screen and (max-width: 374px) {
    #headerLogosContainer {
      flex-direction: column; } }
  #headerLogosContainer .headerLogo {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 12px; }
    @media screen and (max-width: 374px) {
      #headerLogosContainer .headerLogo {
        flex-direction: column-reverse;
        margin-bottom: 20px;
        margin-right: 0; } }
    #headerLogosContainer .headerLogo:last-child {
      margin: 0 !important; }
    #headerLogosContainer .headerLogo .headerLogoTitle {
      color: #fff;
      font-size: 11px;
      line-height: 14px;
      font-family: "century-gothic", sans-serif;
      font-style: normal;
      font-weight: 400;
      margin-right: 8px;
      max-width: 115px;
      text-align: right; }
      @media screen and (max-width: 374px) {
        #headerLogosContainer .headerLogo .headerLogoTitle {
          text-align: center;
          margin-right: 0; } }

footer .followingContent {
  background: #31BED7; }
  footer .followingContent #followingContentImg {
    width: 100%;
    height: 100%;
    min-height: 235px; }
  footer .followingContent #followingContentxtContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none !important; }
    @media screen and (max-width: 768px) {
      footer .followingContent #followingContentxtContainer {
        padding: 60px 10%; } }
    footer .followingContent #followingContentxtContainer #followingContentTxt {
      padding-right: 20px;
      padding-left: 10%;
      text-align: right; }
      @media screen and (max-width: 768px) {
        footer .followingContent #followingContentxtContainer #followingContentTxt {
          padding-right: 0;
          padding-left: 0;
          text-align: center; } }
      footer .followingContent #followingContentxtContainer #followingContentTxt #followingContentTagline {
        font-family: "filson-pro", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 32px;
        color: #fff; }
      footer .followingContent #followingContentxtContainer #followingContentTxt #followingContentTitle {
        font-family: "filson-pro", sans-serif;
        font-style: italic;
        font-weight: 900;
        font-size: 36px;
        line-height: 38px;
        color: #fff; }
    footer .followingContent #followingContentxtContainer #followingContentArrow path {
      fill: #fff; }
    footer .followingContent #followingContentxtContainer:hover #followingContentArrow {
      transition: all 0.2s ease-out;
      transform: scale(1.05); }

footer #footerLeft {
  background: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  padding-left: 20%; }
  @media screen and (max-width: 768px) {
    footer #footerLeft {
      padding-left: 20px; } }

footer #footerRight {
  background: #EAF9FB;
  width: 100%;
  height: 100%;
  padding: 20px 28% 20px 20px; }
  @media screen and (max-width: 768px) {
    footer #footerRight {
      padding-right: 20px; } }
  footer #footerRight .footerContent {
    padding-left: 12%; }
    @media screen and (max-width: 768px) {
      footer #footerRight .footerContent {
        padding-left: 0; } }

footer .footerContent {
  text-align: left;
  height: 100%;
  padding-top: 60px;
  padding-bottom: 60px; }

footer .footerNewsletter #fnTitle {
  margin-bottom: 25px; }

footer .footerNewsletter #newsletter-form {
  position: relative;
  margin-top: 25px; }
  footer .footerNewsletter #newsletter-form #email {
    width: 100%;
    position: relative;
    border: 2px solid #31BED7;
    background: #fff;
    border-radius: 50px;
    padding: 10px 30px; }
    footer .footerNewsletter #newsletter-form #email::placeholder {
      color: #31BED7 !important;
      font-size: 16px;
      line-height: 20px;
      font-family: "century-gothic", sans-serif;
      font-style: normal;
      font-weight: 400; }
  footer .footerNewsletter #newsletter-form #submitNewsletter {
    position: absolute;
    top: 2px;
    height: calc(100% - 4px);
    right: 20px;
    outline: none;
    border: none;
    background: white;
    font-family: "filson-pro", sans-serif;
    font-style: italic;
    font-weight: 500;
    letter-spacing: 0.34px;
    color: #31BED7;
    font-size: 17px;
    line-height: 17px;
    padding-left: 20px; }
    footer .footerNewsletter #newsletter-form #submitNewsletter #submitArrow {
      padding-left: 5px; }
    footer .footerNewsletter #newsletter-form #submitNewsletter:before {
      content: "";
      width: 1px;
      height: 15px;
      background: #31BED7;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 10px; }
    footer .footerNewsletter #newsletter-form #submitNewsletter:hover {
      opacity: 0.7; }

footer #footerNav {
  height: 85%; }
  footer #footerNav ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; }
    footer #footerNav ul li {
      text-align: left; }
      footer #footerNav ul li:last-child {
        margin-right: 0; }
      footer #footerNav ul li.current a {
        font-family: "filson-pro", sans-serif;
        font-style: normal;
        font-weight: 700;
        text-decoration: none; }
      footer #footerNav ul li:not(.current) a {
        text-decoration: underline;
        font-family: "filson-pro", sans-serif;
        font-style: normal;
        font-weight: 700; }
      footer #footerNav ul li a {
        display: inline-block;
        color: #000;
        font-size: 16px;
        line-height: 22px; }

footer #footerLogo {
  display: flex;
  flex-direction: row;
  align-items: flex-end; }
  footer #footerLogo #copyright {
    display: inline-block;
    font-size: 12px;
    line-height: 14px;
    margin-left: 10px;
    max-width: 145px; }

.rte {
  font-size: 20px;
  line-height: 28px;
  font-family: "century-gothic", sans-serif;
  font-style: normal;
  font-weight: 400; }
  .rte a {
    text-decoration: underline;
    color: #31BED7; }
  .rte ul {
    list-style-type: disc;
    list-style-position: outside;
    padding-left: 20px; }
  .rte ol {
    list-style-type: decimal;
    list-style-position: outside;
    padding-left: 20px; }
  .rte li {
    margin-bottom: 5px; }
    .rte li:last-child {
      margin-bottom: 20px; }
  .rte p {
    margin-bottom: 20px; }
  .rte strong {
    font-weight: 800; }
  .rte .rteTitle {
    margin-bottom: 15px;
    font-size: 32px;
    line-height: 42px;
    font-family: "filson-pro", sans-serif;
    font-style: normal;
    font-weight: 400; }
  .rte .rteRessources {
    margin-bottom: 15px;
    font-size: 22px;
    line-height: 42px;
    font-family: "filson-pro", sans-serif;
    font-style: normal;
    font-weight: 800; }

#header-title {
  text-align: center;
  margin-bottom: 40px;
  color: #fff; }
  #header-title .first-line {
    font-family: "filson-pro", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    letter-spacing: -0.6px;
    margin-bottom: 20px; }
    @media screen and (max-width: 768px) {
      #header-title .first-line {
        font-size: 28px;
        line-height: 32px;
        letter-spacing: -0.36px; } }
    @media screen and (max-width: 576px) {
      #header-title .first-line {
        font-size: 18px;
        line-height: 22px;
        letter-spacing: -0.36px; } }
    @media screen and (max-width: 420px) {
      #header-title .first-line {
        font-size: 18px;
        line-height: 22px;
        letter-spacing: -0.36px; } }
    #header-title .first-line sup {
      font-size: .5em; }
  #header-title .second-line {
    font-family: "filson-pro", sans-serif;
    font-style: normal;
    font-weight: 900 !important;
    text-shadow: 0px 0px 6px #FFFFFF;
    font-size: 80px;
    line-height: 82px;
    letter-spacing: -1.6px;
    stroke: 2px #31BED7;
    -webkit-text-stroke: 2px #31BED7; }
    @media screen and (max-width: 768px) {
      #header-title .second-line {
        font-size: 54px;
        line-height: 58px;
        letter-spacing: -0.36px; } }
    @media screen and (max-width: 576px) {
      #header-title .second-line {
        font-size: 44px;
        line-height: 46px;
        letter-spacing: -0.88px; } }
    @media screen and (max-width: 420px) {
      #header-title .second-line {
        font-size: 40px;
        line-height: 42px;
        letter-spacing: -0.88px; } }
  #header-title.htitle {
    font-family: "filson-pro", sans-serif;
    font-style: normal;
    font-weight: 900 !important;
    font-size: 93px;
    line-height: 100px;
    text-shadow: 0px 0px 6px #FFFFFF;
    stroke: 2px #31BED7;
    -webkit-text-stroke: 2px #31BED7; }

#headerIntroWrapper {
  padding: 34px;
  background-color: #fff;
  box-shadow: 0px 0px 6px #FFFFFF;
  border: #31BED7 2px solid;
  border-radius: 20px;
  margin: 50px 0 80px 0;
  text-align: center; }
  #headerIntroWrapper #motto {
    font-family: "filson-pro", sans-serif;
    font-style: normal;
    font-weight: 800;
    color: #31BED7;
    font-size: 45px;
    margin-bottom: 20px; }
    @media screen and (max-width: 576px) {
      #headerIntroWrapper #motto {
        font-size: 35px;
        line-height: 38px;
        letter-spacing: -0.88px; } }
  #headerIntroWrapper #header-intro {
    font-family: "century-gothic", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #31BED7; }

.footerNewsletter #fnTitle {
  font-family: "filson-pro", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 42px;
  line-height: 42px;
  color: #31BED7; }

.footerNewsletter #fnText {
  font-family: "century-gothic", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px; }

#article-title {
  font-size: 48px;
  line-height: 58px;
  font-family: "filson-pro", sans-serif;
  font-style: normal;
  font-weight: 900 !important;
  color: #000;
  text-align: left; }

#article-tagline {
  font-size: 24px;
  line-height: 32px;
  font-family: "century-gothic", sans-serif;
  font-style: italic;
  font-weight: 700;
  color: #000;
  text-align: left;
  margin-bottom: 10px;
  color: #31BED7; }

#navs {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100; }
  #navs #desktop-nav {
    margin: 20px 30px 0 0; }
    @media screen and (max-width: 768px) {
      #navs #desktop-nav {
        display: none; } }
    #navs #desktop-nav ul {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-content: center;
      flex-wrap: wrap; }
      #navs #desktop-nav ul li {
        margin-right: 20px;
        text-align: center; }
        #navs #desktop-nav ul li:last-child {
          margin-right: 0; }
        #navs #desktop-nav ul li#langSwitch {
          position: relative;
          padding-left: 20px; }
          #navs #desktop-nav ul li#langSwitch:before {
            content: "";
            position: absolute;
            left: 0px;
            height: 10px;
            width: 1px;
            top: 50%;
            transform: translateY(-50%);
            background: #fff; }
        #navs #desktop-nav ul li.current a {
          font-family: "filson-pro", sans-serif;
          font-style: normal;
          font-weight: 800;
          text-decoration: none; }
          #navs #desktop-nav ul li.current a:hover {
            text-decoration: none;
            font-family: "filson-pro", sans-serif;
            font-style: normal;
            font-weight: 800; }
        #navs #desktop-nav ul li:not(.current) a {
          text-decoration: underline !important;
          font-family: "filson-pro", sans-serif;
          font-style: normal;
          font-weight: 400; }
        #navs #desktop-nav ul li a {
          display: inline-block;
          font-size: 16px;
          line-height: 22px;
          color: #fff; }
          #navs #desktop-nav ul li a:hover {
            text-decoration: underline; }
        #navs #desktop-nav ul li#backToPrev {
          flex-grow: 1;
          text-align: left;
          display: flex;
          flex-direction: row; }
          #navs #desktop-nav ul li#backToPrev a {
            margin-left: 30px;
            text-decoration: none !important; }
          #navs #desktop-nav ul li#backToPrev #backToPrevArrow {
            margin-right: 4px;
            align-content: center; }
  #navs #mobile-nav {
    display: none; }
    @media screen and (max-width: 768px) {
      #navs #mobile-nav {
        display: block; } }
    #navs #mobile-nav #topbar {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      background: #fff;
      z-index: 2;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 10px 15px;
      box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.05); }
    #navs #mobile-nav #panel {
      position: absolute;
      top: 55px;
      left: 0;
      width: 100%;
      background: #fff;
      z-index: 1;
      display: none; }
      #navs #mobile-nav #panel.visible {
        display: block; }
        @media screen and (max-width: 768px) {
          #navs #mobile-nav #panel.visible {
            display: block; } }
      #navs #mobile-nav #panel #mobile-menu {
        padding: 10px 15px 25px 15px;
        border-bottom: 1px solid #31BED7; }
        #navs #mobile-nav #panel #mobile-menu li {
          padding: 10px 0;
          text-align: left; }
          #navs #mobile-nav #panel #mobile-menu li a {
            font-family: "filson-pro", sans-serif;
            font-style: normal;
            font-weight: 700;
            color: #31BED7;
            text-decoration: underline;
            font-size: 18px;
            line-height: 22px; }
          #navs #mobile-nav #panel #mobile-menu li.current a {
            text-decoration: none; }

.nutritionFact-page #navs #desktop-nav ul li a, .about-page #navs #desktop-nav ul li a {
  color: #31BED7; }

#pencet {
  display: flex;
  align-items: center;
  flex-direction: column;
  cursor: pointer; }

#pencet span {
  background-color: #31BED7;
  width: 40px;
  height: 4px;
  margin: 4px 0;
  display: block;
  transition: all .4s ease;
  transform-origin: 0 0; }

#pencet span:nth-child(2) {
  position: relative;
  left: -10px;
  width: 20px; }

.Diam span:nth-child(1) {
  transform: rotate(45deg) translate(1px, -5px); }

.Diam span:nth-child(2) {
  Transform: scaleX(0); }

.Diam span:nth-child(3) {
  transform: rotate(-45deg) translate(-1px, 0); }

.globalCta, .triggerGlobalArrow {
  font-family: "filson-pro", sans-serif;
  font-style: italic;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.34px;
  text-decoration: none !important; }
  .globalCta .globalCtaArrow, .triggerGlobalArrow .globalCtaArrow {
    margin-left: 10px; }
  .globalCta:hover .globalCtaArrow, .triggerGlobalArrow:hover .globalCtaArrow {
    margin-left: 14px;
    transition: all 0.2s ease-out; }

#captcha, .captcha {
  display: none; }

#errMss, .errMss {
  font-family: "century-gothic", sans-serif;
  font-style: normal;
  font-weight: 700;
  min-height: 16px;
  margin-left: 31px;
  margin-top: 5px;
  color: #F75A58;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.28px; }

.thks {
  font-family: "century-gothic", sans-serif;
  font-style: normal;
  font-weight: 700;
  color: #31BED7;
  font-size: 16px;
  line-height: 18px;
  margin-top: 10px; }

.landing-page {
  background: url(../../images/placeholders/Bg_Pattern.svg) repeat, linear-gradient(90deg, #31afc6 0%, #4dd0e5 100%);
  background-attachment: fixed; }

#landingNode {
  margin-top: -54vh; }
  #landingNode .profileContainer {
    min-height: 380px;
    border: 2px solid #fff;
    border-radius: 15px;
    overflow: hidden;
    position: relative; }
    #landingNode .profileContainer:after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #0c8aea;
      content: "";
      opacity: 0;
      pointer-events: none; }
    #landingNode .profileContainer:hover {
      border-color: rgba(255, 255, 255, 0);
      transition: opacity 0.2s ease-out; }
      #landingNode .profileContainer:hover:after {
        opacity: 0.6;
        transition: opacity 0.2s ease-out; }
      #landingNode .profileContainer:hover .imgContainer {
        filter: grayscale(100%);
        transition: opacity 0.2s ease-out; }
    #landingNode .profileContainer .profileTitle .info {
      position: absolute;
      top: 26px;
      left: 15px;
      color: #fff;
      z-index: 2; }
      #landingNode .profileContainer .profileTitle .info .findImgTxtTitle {
        font-family: "filson-pro", sans-serif;
        font-style: italic;
        font-weight: 900;
        font-size: 35px;
        line-height: 38px;
        color: #fff;
        text-decoration: none;
        margin-bottom: 13px;
        text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5); }
      #landingNode .profileContainer .profileTitle .info .globalCtaArrowStyle {
        stroke: #fff; }
    #landingNode .profileContainer .profileTitle .imgContainer {
      opacity: 1;
      transition: opacity 0.2s ease-out;
      transform: scale(1.1); }
      #landingNode .profileContainer .profileTitle .imgContainer .posterImg {
        visibility: hidden; }
    @media screen and (max-width: 1023px) {
      #landingNode .profileContainer {
        margin-bottom: 20px; }
        #landingNode .profileContainer .imgContainer {
          background-position: center center !important;
          max-height: 474px; } }
  @media screen and (min-width: 1024px) {
    #landingNode .grid-container {
      display: grid;
      grid-gap: 30px;
      margin-top: 30px;
      width: 100%;
      /*#profile-7 {
                grid-column-start: 3;
                grid-column-end: 6;
                grid-row-start: 11;
                grid-row-end: 14;
            }*/ }
      #landingNode .grid-container #profile-1 {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 6; }
      #landingNode .grid-container #profile-2 {
        grid-column-start: 4;
        grid-column-end: 7;
        grid-row-start: 1;
        grid-row-end: 3; }
      #landingNode .grid-container #profile-3 {
        grid-column-start: 7;
        grid-column-end: 10;
        grid-row-start: 1;
        grid-row-end: 3; }
      #landingNode .grid-container #profile-4 {
        grid-column-start: 4;
        grid-column-end: 10;
        grid-row-start: 3;
        grid-row-end: 11; }
      #landingNode .grid-container #profile-5 {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 6;
        grid-row-end: 11; }
      #landingNode .grid-container #profile-6 {
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 11;
        grid-row-end: 14; }
      #landingNode .grid-container #profile-7 {
        grid-column-start: 6;
        grid-column-end: 10;
        grid-row-start: 11;
        grid-row-end: 17; }
      #landingNode .grid-container #profile-8 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 14;
        grid-row-end: 17; }
      #landingNode .grid-container #profile-9 {
        grid-column-start: 3;
        grid-column-end: 6;
        grid-row-start: 14;
        grid-row-end: 17; } }

.nutritionFactsListing-page {
  background: url(../../images/placeholders/Bg_Pattern.svg) repeat, linear-gradient(90deg, #31afc6 0%, #4dd0e5 100%);
  background-attachment: fixed; }

#nutritionFactsListingBg {
  position: relative; }
  #nutritionFactsListingBg:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    z-index: -1;
    content: ""; }

#nutritionFactsListing {
  padding: 60px 0 120px 0; }

.cardClickable {
  /*See below for hover effects*/ }
  .cardClickable .cardContainer {
    min-height: 325px;
    background: #fff;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    border: 2px solid #fff; }
    @media screen and (max-width: 1400px) {
      .cardClickable .cardContainer {
        min-height: unset;
        flex-direction: column-reverse; } }
    @media screen and (max-width: 991px) {
      .cardClickable .cardContainer {
        min-height: 380px;
        flex-direction: row; } }
    @media screen and (max-width: 576px) {
      .cardClickable .cardContainer {
        min-height: unset;
        flex-direction: column-reverse; } }
    .cardClickable .cardContainer .cardContent {
      flex: 1 1 57%;
      padding: 40px 30px; }
      @media screen and (max-width: 1400px) {
        .cardClickable .cardContainer .cardContent {
          flex: 1 1 100%; } }
      @media screen and (max-width: 991px) {
        .cardClickable .cardContainer .cardContent {
          flex: 1 1 57%; } }
      @media screen and (max-width: 576px) {
        .cardClickable .cardContainer .cardContent {
          flex: 1 1 100%; } }
      .cardClickable .cardContainer .cardContent .cardTitle {
        font-family: "filson-pro", sans-serif;
        font-style: italic;
        font-weight: 900;
        font-size: 34px;
        line-height: 41px;
        color: #31BED7;
        margin-bottom: 40px; }
      .cardClickable .cardContainer .cardContent .cardTags {
        display: none;
        margin-bottom: 40px; }
      .cardClickable .cardContainer .cardContent .cardCta {
        font-family: "filson-pro", sans-serif;
        font-style: italic;
        font-weight: 700;
        font-size: 17px;
        line-height: 20px;
        color: #31BED7; }
        .cardClickable .cardContainer .cardContent .cardCta .cardCtaArrow .cardCtaArrowStyle {
          fill: #31bed7; }
    .cardClickable .cardContainer .cardImgContainer {
      flex: 1 1 43%;
      background: #fff;
      border-bottom-right-radius: 15px;
      border-top-right-radius: 15px;
      overflow: hidden !important; }
      @media screen and (max-width: 1400px) {
        .cardClickable .cardContainer .cardImgContainer {
          border-radius: 15px; } }
      @media screen and (max-width: 991px) {
        .cardClickable .cardContainer .cardImgContainer {
          border-bottom-right-radius: 15px;
          border-top-right-radius: 15px;
          border-bottom-left-radius: 0;
          border-top-left-radius: 0; } }
      @media screen and (max-width: 576px) {
        .cardClickable .cardContainer .cardImgContainer {
          border-radius: 15px; } }
      .cardClickable .cardContainer .cardImgContainer .cardImg {
        width: 100%;
        height: 100%;
        transform: scale(1); }
        @media screen and (max-width: 1400px) {
          .cardClickable .cardContainer .cardImgContainer .cardImg {
            height: 100%;
            min-height: 275px; } }
        @media screen and (max-width: 991px) {
          .cardClickable .cardContainer .cardImgContainer .cardImg {
            height: 100%;
            min-height: 100%; } }
        @media screen and (max-width: 576px) {
          .cardClickable .cardContainer .cardImgContainer .cardImg {
            height: 100%;
            min-height: 275px; } }
        .cardClickable .cardContainer .cardImgContainer .cardImg img {
          max-width: 100%;
          height: auto; }
    .cardClickable .cardContainer:hover .cardImgContainer .cardImg {
      transform: scale(1.05);
      transition: all 0.2s ease-out; }

.findRSection {
  padding: 100px 0; }
  .findRSection .findRecipesContent {
    padding-right: 30px; }
    @media screen and (max-width: 1400px) {
      .findRSection .findRecipesContent {
        padding-right: 0%; } }
    @media screen and (max-width: 991px) {
      .findRSection .findRecipesContent {
        margin-bottom: 40px; } }
    @media screen and (max-width: 576px) {
      .findRSection .findRecipesContent {
        padding-right: 0; } }
    .findRSection .findRecipesContent .findRTitle {
      font-family: "filson-pro", sans-serif;
      font-style: normal;
      font-weight: 700;
      color: #fff;
      letter-spacing: -1.6px;
      font-size: 60px;
      line-height: 62px;
      margin-bottom: 30px; }
      @media screen and (max-width: 1200px) {
        .findRSection .findRecipesContent .findRTitle {
          font-size: 54px;
          line-height: 56px; } }
      @media screen and (max-width: 991px) {
        .findRSection .findRecipesContent .findRTitle {
          font-size: 70px;
          line-height: 72px; } }
      @media screen and (max-width: 768px) {
        .findRSection .findRecipesContent .findRTitle {
          font-size: 64px;
          line-height: 66px; } }
      @media screen and (max-width: 576px) {
        .findRSection .findRecipesContent .findRTitle {
          font-size: 44px;
          line-height: 46px; } }
    .findRSection .findRecipesContent .findRText {
      margin-bottom: 30px;
      color: #fff;
      font-family: "century-gothic", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      padding-right: 15%; }
      @media screen and (max-width: 1400px) {
        .findRSection .findRecipesContent .findRText {
          padding-right: 10%; } }
      @media screen and (max-width: 1200px) {
        .findRSection .findRecipesContent .findRText {
          padding-right: 0; } }
      @media screen and (max-width: 576px) {
        .findRSection .findRecipesContent .findRText {
          padding-right: 0; } }
    .findRSection .findRecipesContent .findRCta {
      color: #fff; }
      .findRSection .findRecipesContent .findRCta .findRCtaArrow .findRCtaArrowStyle {
        fill: #fff; }
  .findRSection .finRImgContainer {
    height: 380px;
    border: 2px solid #fff;
    border-radius: 15px;
    overflow: hidden;
    position: relative; }
    .findRSection .finRImgContainer .findImgTxt {
      position: absolute;
      z-index: 2;
      width: 100%;
      height: 100%;
      padding: 40px 30px; }
      .findRSection .finRImgContainer .findImgTxt .findImgTxtTitle {
        color: #fff;
        text-shadow: 0px 0px 9px #00333C79;
        font-family: "filson-pro", sans-serif;
        font-style: italic;
        font-weight: 700;
        font-size: 35px;
        line-height: 38px;
        margin-bottom: 10px; }
      .findRSection .finRImgContainer .findImgTxt .globalCta {
        color: #fff; }
        .findRSection .finRImgContainer .findImgTxt .globalCta .globalCtaArrowStyle {
          fill: #fff; }
    .findRSection .finRImgContainer .findRImg {
      width: 100%;
      height: 100%;
      position: relative;
      z-index: 1;
      transform: scale(1); }
    .findRSection .finRImgContainer:hover .findRImg {
      transform: scale(1.05);
      transition: all 0.2s ease-out; }

#nutritionFactBg {
  position: relative; }
  #nutritionFactBg:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background: #EAF9FB;
    z-index: -1;
    content: ""; }

#nutritionFact {
  padding: 60px 0 120px 0; }
  #nutritionFact #embedVideo {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    margin-bottom: 80px; }
    #nutritionFact #embedVideo .videoKeepRatio {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
  #nutritionFact #factImage {
    width: 100%;
    display: block;
    margin-bottom: 80px; }
  #nutritionFact .rte {
    background-color: #fff;
    border-radius: 20px;
    padding: 75px;
    font-family: "century-gothic", sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #1D1D1D;
    font-size: 18px;
    line-height: 28px; }
    @media screen and (max-width: 1400px) {
      #nutritionFact .rte {
        padding: 45px; } }
    @media screen and (max-width: 576px) {
      #nutritionFact .rte {
        padding: 25px; } }
    #nutritionFact .rte strong {
      font-family: "filson-pro", sans-serif;
      font-style: normal;
      font-weight: 700;
      color: #1D1D1D;
      margin-top: 20px;
      font-size: 30px;
      line-height: 32px;
      display: inline-block; }

#about {
  background: white;
  background: url(../../images/placeholders/Bg_Pattern_On_White.svg) repeat, linear-gradient(90deg, white 0%, white 100%);
  background-attachment: fixed;
  min-height: 50vh;
  padding-top: 135px; }
  @media screen and (max-width: 576px) {
    #about {
      padding-top: 100px; } }
  #about #infowrap .logos {
    display: flex;
    flex-direction: row;
    justify-content: flex-start; }
    @media screen and (max-width: 576px) {
      #about #infowrap .logos {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start; } }
    #about #infowrap .logos .dietitianLogoSvg {
      margin-bottom: -5px; }
    #about #infowrap .logos .aboutLogo {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      margin-right: 12px;
      margin-bottom: 80px; }
      #about #infowrap .logos .aboutLogo:last-child {
        margin-right: 0; }
      @media screen and (max-width: 1200px) {
        #about #infowrap .logos .aboutLogo {
          margin-bottom: 60px; } }
      @media screen and (max-width: 1200px) {
        #about #infowrap .logos .aboutLogo {
          margin-bottom: 40px; } }
      @media screen and (max-width: 768px) {
        #about #infowrap .logos .aboutLogo {
          margin-bottom: 20px; } }
      @media screen and (max-width: 576px) {
        #about #infowrap .logos .aboutLogo {
          flex-direction: column;
          justify-content: center;
          align-items: center; } }
      #about #infowrap .logos .aboutLogo .aboutLogoTitle {
        color: #1D1D1D;
        font-size: 17px;
        line-height: 22px;
        font-family: "century-gothic", sans-serif;
        font-style: normal;
        font-weight: 400;
        margin-left: 8px;
        max-width: 186px;
        text-align: left; }
        @media screen and (max-width: 1200px) {
          #about #infowrap .logos .aboutLogo .aboutLogoTitle {
            font-size: 15px;
            line-height: 17px; } }
        @media screen and (max-width: 576px) {
          #about #infowrap .logos .aboutLogo .aboutLogoTitle {
            text-align: left;
            margin-right: 0; } }
  #about #infowrap .textContent .subtitle {
    font-family: "filson-pro", sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #000;
    font-size: 25px;
    margin-bottom: 20px; }
  #about #infowrap .textContent .title {
    font-family: "filson-pro", sans-serif;
    font-style: normal;
    font-weight: 900 !important;
    color: #000;
    font-size: 48px;
    line-height: 58px;
    margin-bottom: 30px; }
    @media screen and (max-width: 768px) {
      #about #infowrap .textContent .title {
        font-size: 38px;
        line-height: 48px; } }
  #about #infowrap .textContent .rte padding {
    font-family: "century-gothic", sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #1D1D1D;
    font-size: 18px;
    line-height: 28px; }
  #about #headerLogosContainer {
    justify-content: flex-start; }
    @media screen and (max-width: 992px) {
      #about #headerLogosContainer {
        justify-content: flex-end;
        align-items: flex-end; } }
    @media screen and (max-width: 992px) {
      #about #headerLogosContainer {
        flex-direction: row;
        justify-content: flex-end;
        align-content: center;
        align-items: center; } }
    @media screen and (max-width: 374px) {
      #about #headerLogosContainer {
        flex-direction: column; } }
    @media screen and (max-width: 992px) {
      #about #headerLogosContainer .headerLogo {
        flex-direction: row; } }
    @media screen and (max-width: 374px) {
      #about #headerLogosContainer .headerLogo {
        flex-direction: column-reverse;
        margin-bottom: 20px;
        margin-right: 0; } }
    #about #headerLogosContainer .headerLogo .dietitianLogoSvg {
      width: 85px;
      height: 85px; }
    #about #headerLogosContainer .headerLogo .headerLogoTitle {
      color: #1D1D1D;
      font-size: 17px;
      line-height: 22px;
      font-family: "century-gothic", sans-serif;
      font-style: normal;
      font-weight: 700;
      max-width: 168px; }
      @media screen and (max-width: 992px) {
        #about #headerLogosContainer .headerLogo .headerLogoTitle {
          font-size: 14px;
          line-height: 17px;
          max-width: 145px; } }
      @media screen and (max-width: 900px) {
        #about #headerLogosContainer .headerLogo .headerLogoTitle {
          font-size: 12px;
          line-height: 15px;
          max-width: 115px; } }
      @media screen and (max-width: 374px) {
        #about #headerLogosContainer .headerLogo .headerLogoTitle {
          text-align: center;
          margin-right: 0; } }
  #about .imgWrap {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center; }
    #about .imgWrap #aboutImg {
      border-radius: 15px;
      margin-bottom: 100px;
      max-width: 100%;
      height: auto; }

#profile {
  background: url(/images/placeholders/Bg_Pattern_On_White.svg) 0 0 repeat #fff;
  background-attachment: fixed; }
  #profile .banner {
    height: 1200px;
    width: 100%; }
    #profile .banner #bannerInfo {
      margin-top: 69px;
      text-align: left; }
      #profile .banner #bannerInfo .htitle {
        font-size: 113px;
        line-height: 112px;
        letter-spacing: -2.6px;
        text-align: left !important; }
      #profile .banner #bannerInfo #introText {
        font-family: "century-gothic", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #fff;
        max-width: 350px; }
    #profile .banner .bannerBtn {
      height: 56px;
      background-color: #fff;
      padding: 10px;
      border-radius: 35px;
      display: inline-flex;
      align-items: center;
      text-decoration: none;
      padding-right: 20px; }
      #profile .banner .bannerBtn .bannerBtnIcon {
        margin-right: 12px; }
      #profile .banner .bannerBtn .bannerBtnStatement {
        font-family: "century-gothic", sans-serif;
        font-style: italic;
        font-weight: 400;
        color: #31BED7;
        font-size: 18px;
        line-height: 20px; }
    @media screen and (min-width: 1921px) {
      #profile .banner {
        background-size: cover !important; } }
  #profile .factPanel {
    display: none;
    width: 600px;
    height: 100VH;
    position: fixed;
    top: 0;
    right: -600px;
    background-color: #fff;
    padding: 0 45px;
    z-index: 111; }
    #profile .factPanel .btnClose {
      position: absolute;
      top: 19px;
      left: 18px;
      border: none;
      outline: none;
      background: none; }
    #profile .factPanel .panelImageWrap {
      width: 100%;
      margin-top: 72px;
      margin-bottom: 32px;
      text-align: center; }
    #profile .factPanel .info {
      text-align: left; }
      #profile .factPanel .info .factStatement {
        font-family: "filson-pro", sans-serif;
        font-style: normal;
        font-weight: 700;
        color: #000;
        font-size: 22px;
        line-height: 24px;
        margin-bottom: 20px; }
      #profile .factPanel .info .factTitle {
        font-family: "filson-pro", sans-serif;
        font-style: normal;
        font-weight: 700;
        color: #31BED7;
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 18px; }
      #profile .factPanel .info .factText {
        font-family: "century-gothic", sans-serif;
        font-style: normal;
        font-weight: 400;
        color: #000;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 34px; }
      #profile .factPanel .info .globalCta {
        color: #31BED7; }
        #profile .factPanel .info .globalCta .globalCtaArrowStyle {
          stroke: #31BED7; }
  #profile #recipes {
    margin-top: 160px; }
    #profile #recipes .recipe {
      margin-bottom: 112px; }
      #profile #recipes .recipe .recipeContentLeft {
        padding-right: 30px; }
        #profile #recipes .recipe .recipeContentLeft .recipeStatement {
          font-family: "century-gothic", sans-serif;
          font-style: italic;
          font-weight: 400;
          padding-left: 58px;
          color: #31BED7;
          font-size: 26px;
          text-align: left;
          margin-bottom: 20px; }
          #profile #recipes .recipe .recipeContentLeft .recipeStatement:before {
            width: 34px;
            height: 34px;
            content: '';
            background: url(/images/icons/Icon_Recipe.svg) 0 0 no-repeat;
            position: absolute;
            left: 19px;
            top: -5px; }
        #profile #recipes .recipe .recipeContentLeft .recipeName {
          font-family: "filson-pro", sans-serif;
          font-style: normal;
          font-weight: 900 !important;
          color: #000;
          font-size: 46px;
          line-height: 50px;
          margin-bottom: 15px; }
        #profile #recipes .recipe .recipeContentLeft .info {
          font-family: "filson-pro", sans-serif;
          font-style: normal;
          font-weight: 700;
          color: #000;
          font-size: 22px;
          line-height: 26px; }
        #profile #recipes .recipe .recipeContentLeft .preparationSteps {
          list-style: none;
          margin-top: 43px; }
          #profile #recipes .recipe .recipeContentLeft .preparationSteps li {
            display: block;
            position: relative;
            margin-bottom: 23px; }
            #profile #recipes .recipe .recipeContentLeft .preparationSteps li .ellipse {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 25px;
              height: 25px;
              border-radius: 50%;
              background-color: #31BED7;
              font-family: "filson-pro", sans-serif;
              font-style: normal;
              font-weight: 700;
              color: #fff;
              font-size: 15px;
              position: absolute;
              top: 0;
              left: 0; }
            #profile #recipes .recipe .recipeContentLeft .preparationSteps li .step {
              margin-left: 10px;
              font-family: "century-gothic", sans-serif;
              font-style: normal;
              font-weight: 400;
              color: #000;
              font-size: 20px;
              line-height: 28px;
              padding-left: 25px; }
        #profile #recipes .recipe .recipeContentLeft .tipsBox {
          width: 100%;
          padding: 26px 36px 26px 70px;
          background-color: #31BED7;
          position: relative;
          border-radius: 20px;
          margin-top: 50px; }
          #profile #recipes .recipe .recipeContentLeft .tipsBox .tipsIcon {
            width: 72px;
            height: 72px;
            background-color: #fff;
            border: 2px solid #31BED7;
            background: url(/images/icons/Light_Icon.svg) center center no-repeat #fff;
            position: absolute;
            top: 50%;
            left: -36px;
            transform: translateY(-50%);
            border-radius: 50%; }
          #profile #recipes .recipe .recipeContentLeft .tipsBox .tipsContent {
            width: 100%;
            display: flex;
            flex-direction: row;
            min-height: 140px;
            align-items: center;
            justify-content: center; }
            #profile #recipes .recipe .recipeContentLeft .tipsBox .tipsContent .tipsText {
              font-family: "century-gothic", sans-serif;
              font-style: normal;
              font-weight: 700;
              font-size: 16px;
              line-height: 24px;
              color: #fff; }
            #profile #recipes .recipe .recipeContentLeft .tipsBox .tipsContent .tipsPic {
              max-width: 241px;
              margin-left: 22px; }
      #profile #recipes .recipe .recipeContentRight {
        position: relative;
        padding-left: 59px; }
        #profile #recipes .recipe .recipeContentRight #printAndShare {
          position: absolute;
          top: 0;
          right: 0; }
          #profile #recipes .recipe .recipeContentRight #printAndShare button {
            padding: 10px 15px;
            background-color: #31BED7;
            border: #31BED7 2px solid;
            font-family: "filson-pro", sans-serif;
            font-style: normal;
            font-weight: 400;
            color: #fff;
            font-size: 16px;
            margin-left: 10px;
            display: inline-block;
            border-radius: 23px;
            outline: none;
            transition: all 0.2s ease-out; }
            #profile #recipes .recipe .recipeContentRight #printAndShare button span {
              display: inline-block;
              margin-right: 10px; }
            #profile #recipes .recipe .recipeContentRight #printAndShare button .a {
              fill: #fff;
              display: inline-block; }
            #profile #recipes .recipe .recipeContentRight #printAndShare button:hover {
              background-color: #fff;
              color: #31BED7;
              transition: all 0.2s ease-out; }
              #profile #recipes .recipe .recipeContentRight #printAndShare button:hover .a {
                fill: #31BED7; }
        #profile #recipes .recipe .recipeContentRight .recipeImage {
          margin-top: 58px;
          width: 100%;
          position: relative;
          z-index: 0; }
        #profile #recipes .recipe .recipeContentRight .ingredientsWrap {
          width: 526px;
          border-radius: 20px;
          margin: auto;
          margin-top: -140px;
          position: relative;
          z-index: 1;
          background-color: #fff;
          padding: 35px;
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3); }
          #profile #recipes .recipe .recipeContentRight .ingredientsWrap .ingredientsTitle {
            color: #31BED7;
            font-family: "filson-pro", sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            text-transform: uppercase;
            margin-bottom: 27px; }
          #profile #recipes .recipe .recipeContentRight .ingredientsWrap .ingredients {
            list-style: none; }
            #profile #recipes .recipe .recipeContentRight .ingredientsWrap .ingredients li {
              display: block;
              padding: 10px 0;
              border-bottom: rgba(49, 190, 215, 0.5) 1px solid; }
              #profile #recipes .recipe .recipeContentRight .ingredientsWrap .ingredients li:last-child {
                border: none; }
