/* FONTS */
/*Reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@media screen and (max-width: 767px) {
  .noBrMobile br {
    display: none; } }

textarea, input {
  outline: none;
  -webkit-appearance: none; }

footer {
  margin-top: 100px; }
  footer #footerLeft {
    background: #fff;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    padding-left: 20%; }
    @media screen and (max-width: 768px) {
      footer #footerLeft {
        padding-left: 20px; } }
  footer #footerRight {
    background: #EAF9FB;
    width: 100%;
    height: 100%;
    padding: 20px 28% 20px 20px; }
    @media screen and (max-width: 768px) {
      footer #footerRight {
        padding-right: 20px; } }
    footer #footerRight .footerContent {
      padding-left: 12%; }
      @media screen and (max-width: 768px) {
        footer #footerRight .footerContent {
          padding-left: 0; } }
  footer .footerContent {
    text-align: left;
    height: 100%;
    padding-top: 60px;
    padding-bottom: 60px; }
  footer .footerNewsletter #fnTitle {
    margin-bottom: 25px; }
  footer .footerNewsletter #newsletter-form {
    position: relative;
    margin-top: 25px; }
    footer .footerNewsletter #newsletter-form #email {
      width: 100%;
      position: relative;
      border: 2px solid #31BED7;
      background: #fff;
      border-radius: 50px;
      padding: 10px 30px; }
      footer .footerNewsletter #newsletter-form #email::placeholder {
        color: #31BED7 !important;
        font-size: 16px;
        line-height: 20px;
        font-family: "century-gothic", sans-serif;
        font-style: normal;
        font-weight: 400; }
    footer .footerNewsletter #newsletter-form #submitNewsletter {
      position: absolute;
      top: 2px;
      height: calc(100% - 4px);
      right: 20px;
      outline: none;
      border: none;
      background: white;
      font-family: "filson-pro", sans-serif;
      font-style: italic;
      font-weight: 500;
      letter-spacing: 0.34px;
      color: #31BED7;
      font-size: 17px;
      line-height: 17px;
      padding-left: 20px; }
      footer .footerNewsletter #newsletter-form #submitNewsletter #submitArrow {
        padding-left: 5px; }
      footer .footerNewsletter #newsletter-form #submitNewsletter:before {
        content: "";
        width: 1px;
        height: 15px;
        background: #31BED7;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 10px; }
      footer .footerNewsletter #newsletter-form #submitNewsletter:hover {
        opacity: 0.7; }
  footer #footerNav {
    height: 85%; }
    footer #footerNav ul {
      display: flex;
      flex-direction: column;
      justify-content: flex-start; }
      footer #footerNav ul li {
        text-align: left; }
        footer #footerNav ul li:last-child {
          margin-right: 0; }
        footer #footerNav ul li.current a {
          font-family: "filson-pro", sans-serif;
          font-style: normal;
          font-weight: 700;
          text-decoration: none; }
        footer #footerNav ul li:not(.current) a {
          text-decoration: underline;
          font-family: "filson-pro", sans-serif;
          font-style: normal;
          font-weight: 700; }
        footer #footerNav ul li a {
          display: inline-block;
          color: #000;
          font-size: 16px;
          line-height: 22px; }
  footer #footerLogo {
    display: flex;
    flex-direction: row;
    align-items: flex-end; }
    footer #footerLogo #copyright {
      display: inline-block;
      font-size: 12px;
      line-height: 14px;
      margin-left: 10px;
      max-width: 145px; }
    footer #footerLogo .dfcLogoSvg .a {
      fill: #00a1ed; }
    footer #footerLogo .dfcLogoSvg .b {
      fill: #fff; }

#header-title {
  font-family: "filson-pro", sans-serif;
  font-style: normal;
  font-weight: 900;
  text-shadow: 0px 0px 6px #FFFFFF;
  text-align: center; }
  #header-title .first-line {
    font-size: 6.5vw;
    line-height: 6.5vw;
    letter-spacing: -2.6px; }
  #header-title .second-line {
    font-size: 5.6vw;
    line-height: 6.5w;
    letter-spacing: -2.26px; }

#header-intro {
  font-family: "century-gothic", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px; }

.footerNewsletter #fnTitle {
  font-family: "filson-pro", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 42px;
  line-height: 42px;
  color: #31BED7; }

.footerNewsletter #fnText {
  font-family: "century-gothic", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px; }

#navs {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100; }
  #navs #desktop-nav {
    margin: 20px 30px 0 0; }
    @media screen and (max-width: 768px) {
      #navs #desktop-nav {
        display: none; } }
    #navs #desktop-nav ul {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-content: center;
      flex-wrap: wrap; }
      #navs #desktop-nav ul li {
        margin-right: 20px;
        text-align: center; }
        #navs #desktop-nav ul li:last-child {
          margin-right: 0; }
        #navs #desktop-nav ul li#langSwitch {
          position: relative; }
          #navs #desktop-nav ul li#langSwitch:before {
            content: "";
            position: absolute;
            left: 0px;
            height: 10px;
            width: 1px;
            top: 50%;
            transform: translateY(-50%);
            background: red; }
        #navs #desktop-nav ul li.current a {
          font-family: "filson-pro", sans-serif;
          font-style: normal;
          font-weight: 700;
          text-decoration: underline; }
        #navs #desktop-nav ul li:not(.current) a {
          margin-left: 20px;
          text-decoration: none;
          font-family: "filson-pro", sans-serif;
          font-style: normal;
          font-weight: 400; }
        #navs #desktop-nav ul li a {
          display: inline-block;
          font-size: 16px;
          line-height: 22px; }
          #navs #desktop-nav ul li a:hover {
            text-decoration: underline; }
  #navs #mobile-nav {
    display: none; }
    @media screen and (max-width: 768px) {
      #navs #mobile-nav {
        display: block; } }
    #navs #mobile-nav #topbar {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 50px;
      background: red;
      z-index: 2;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 15px; }
    #navs #mobile-nav #panel {
      position: absolute;
      top: 50px;
      left: 0;
      width: 100%;
      min-height: 50vh;
      background: green;
      z-index: 1;
      display: none; }
      #navs #mobile-nav #panel.visible {
        display: block; }
        @media screen and (max-width: 768px) {
          #navs #mobile-nav #panel.visible {
            display: block; } }

.globalCta, .triggerGlobalArrow {
  font-family: "filson-pro", sans-serif;
  font-style: italic;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.34px;
  text-decoration: none !important; }
  .globalCta .globalCtaArrow, .triggerGlobalArrow .globalCtaArrow {
    margin-left: 10px; }
  .globalCta:hover .globalCtaArrow, .triggerGlobalArrow:hover .globalCtaArrow {
    margin-left: 14px;
    transition: all 0.2s ease-out; }

#nutritionFactsListing {
  background: #31BED7;
  padding: 60px 0 120px 0; }

.cardClickable {
  /*See below for hover effects*/ }
  .cardClickable .cardContainer {
    min-height: 380px;
    background: #fff;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    margin-bottom: 30px; }
    @media screen and (max-width: 576px) {
      .cardClickable .cardContainer {
        min-height: unset; } }
    @media screen and (max-width: 576px) {
      .cardClickable .cardContainer {
        flex-direction: column-reverse; } }
    .cardClickable .cardContainer .cardContent {
      flex: 1 1 57%;
      padding: 40px 30px; }
      @media screen and (max-width: 576px) {
        .cardClickable .cardContainer .cardContent {
          flex: 1 1 100%; } }
      .cardClickable .cardContainer .cardContent .cardTitle {
        font-family: "filson-pro", sans-serif;
        font-style: italic;
        font-weight: 900;
        font-size: 34px;
        line-height: 41px;
        color: #31BED7;
        margin-bottom: 40px; }
      .cardClickable .cardContainer .cardContent .cardTags {
        display: none;
        margin-bottom: 40px; }
      .cardClickable .cardContainer .cardContent .cardCta {
        font-family: "filson-pro", sans-serif;
        font-style: italic;
        font-weight: 700;
        font-size: 17px;
        line-height: 20px;
        color: #31BED7; }
        .cardClickable .cardContainer .cardContent .cardCta .cardCtaArrow .cardCtaArrowStyle {
          fill: #31bed7; }
    .cardClickable .cardContainer .cardImgContainer {
      flex: 1 1 43%;
      background: #fff;
      border-bottom-right-radius: 15px;
      border-top-right-radius: 15px;
      overflow: hidden !important; }
      @media screen and (max-width: 576px) {
        .cardClickable .cardContainer .cardImgContainer {
          border-radius: 15px; } }
      .cardClickable .cardContainer .cardImgContainer .cardImg {
        width: 100%;
        height: 100%;
        transform: scale(1); }
        @media screen and (max-width: 576px) {
          .cardClickable .cardContainer .cardImgContainer .cardImg {
            height: 100%;
            min-height: 200px; } }
        .cardClickable .cardContainer .cardImgContainer .cardImg img {
          max-width: 100%;
          height: auto; }
    .cardClickable .cardContainer:hover .cardImgContainer .cardImg {
      transform: scale(1.05);
      transition: all 0.2s ease-out; }

.findRSection {
  padding-top: 100px; }
  .findRSection .findRecipesContent {
    padding-right: 12%; }
    @media screen and (max-width: 1200px) {
      .findRSection .findRecipesContent {
        padding-right: 0%; } }
    @media screen and (max-width: 576px) {
      .findRSection .findRecipesContent {
        padding-right: 0; } }
    .findRSection .findRecipesContent .findRTitle {
      font-family: "filson-pro", sans-serif;
      font-style: normal;
      font-weight: 700;
      color: #fff;
      letter-spacing: -1.6px;
      font-size: 80px;
      line-height: 82px;
      margin-bottom: 30px; }
    .findRSection .findRecipesContent .findRText {
      margin-bottom: 30px;
      color: #fff;
      font-family: "century-gothic", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      padding-right: 15%; }
      @media screen and (max-width: 1200px) {
        .findRSection .findRecipesContent .findRText {
          padding-right: 10%; } }
      @media screen and (max-width: 576px) {
        .findRSection .findRecipesContent .findRText {
          padding-right: 0; } }
    .findRSection .findRecipesContent .findRCta {
      color: #fff; }
      .findRSection .findRecipesContent .findRCta .findRCtaArrow .findRCtaArrowStyle {
        fill: #fff; }
  .findRSection .finRImgContainer {
    height: 380px;
    border: 2px solid #fff;
    border-radius: 15px;
    overflow: hidden;
    position: relative; }
    @media screen and (max-width: 1200px) {
      .findRSection .finRImgContainer {
        margin-top: 60px; } }
    .findRSection .finRImgContainer .findImgTxt {
      position: absolute;
      z-index: 2;
      width: 100%;
      height: 100%;
      padding: 40px 30px; }
      .findRSection .finRImgContainer .findImgTxt .findImgTxtTitle {
        text-transform: uppercase;
        color: #fff;
        text-shadow: 0px 0px 9px #00333C79;
        font-family: "filson-pro", sans-serif;
        font-style: italic;
        font-weight: 700;
        font-size: 40px;
        line-height: 72px; }
      .findRSection .finRImgContainer .findImgTxt .globalCta {
        color: #fff; }
        .findRSection .finRImgContainer .findImgTxt .globalCta .globalCtaArrowStyle {
          fill: #fff; }
    .findRSection .finRImgContainer .findRImg {
      width: 100%;
      height: 100%;
      position: relative;
      z-index: 1;
      transform: scale(1); }
    .findRSection .finRImgContainer:hover .findRImg {
      transform: scale(1.05);
      transition: all 0.2s ease-out; }
