// ==========================================================================
// TYPOGRAPHY - TITLES
// ==========================================================================
#header-title {
    @include filson-900;
    text-shadow: 0px 0px 6px #FFFFFF;
    text-align: center;
    margin-bottom:40px;
    color:$white;
    stroke:2px $scooter;
    -webkit-text-stroke: 2px $scooter;

    .first-line {
        font-size: 6.5vw;
        line-height: 6.5vw;
        letter-spacing: -2.6px;
    }

    .second-line {
        font-size: 5.6vw;
        line-height: 6.5w;
        letter-spacing: -2.26px;
    }
}
#header-intro {
    @include century-400;
    font-size: 16px;
    line-height: 24px;
    color:$white;
}

.footerNewsletter {
    #fnTitle {
        @include filson-800;
        font-size:42px;
        line-height:42px;
        color: $scooter;
    }

    #fnText {
        @include century-400;
        font-size:16px;
        line-height:24px;
    }
}