// ==========================================================================
// TYPOGRAPHY - TITLES
// ==========================================================================
#header-title {
    text-align: center;
    margin-bottom: 40px;
    color: $white;

    .first-line {
        @include filson-700;
        font-size: 30px;
        letter-spacing: -0.6px;
        margin-bottom: 20px;

        @media screen and (max-width: 768px) {
            font-size: 28px;
            line-height: 32px;
            letter-spacing: -0.36px;
        }

        @media screen and (max-width: 576px) {
            font-size: 18px;
            line-height: 22px;
            letter-spacing: -0.36px;
        }

        @media screen and (max-width: 420px) {
            font-size: 18px;
            line-height: 22px;
            letter-spacing: -0.36px;
        }

        sup {
            font-size: .5em;
        }
    }

    .second-line {
        @include filson-900;
        text-shadow: 0px 0px 6px #FFFFFF;
        font-size: 80px;
        line-height: 82px;
        letter-spacing: -1.6px;
        stroke: 2px $scooter;
        -webkit-text-stroke: 2px $scooter;

        @media screen and (max-width: 768px) {
            font-size: 54px;
            line-height: 58px;
            letter-spacing: -0.36px;
            stroke: 1px $scooter;
            -webkit-text-stroke: 1px $scooter;
        }

        @media screen and (max-width: 576px) {
            font-size: 44px;
            line-height: 46px;
            letter-spacing: -0.88px;
        }

        @media screen and (max-width: 420px) {
            font-size: 40px;
            line-height: 42px;
            letter-spacing: -0.88px;
        }
    }

    &.htitle {
        @include filson-900;
        font-size: 93px;
        line-height: 100px;
        text-shadow: 0px 0px 6px #FFFFFF;
        stroke: 2px $scooter;
        -webkit-text-stroke: 2px $scooter;

        @media screen and (max-width: 768px) {
            stroke: 1px $scooter;
            -webkit-text-stroke: 1px $scooter;
        }
    }
}
#headerIntroWrapper {
    padding: 34px;
    background-color: #fff;
    box-shadow: 0px 0px 6px #FFFFFF;
    border: $scooter 2px solid;
    border-radius: 20px;
    margin: 50px 0 80px 0;
    text-align: center;

    #motto {
        @include filson-800;
        color: $scooter;
        font-size: 45px;
        margin-bottom: 20px;

        @media screen and (max-width: 576px) {
            font-size: 35px;
            line-height: 38px;
            letter-spacing: -0.88px;
        }
    }

    #header-intro {
        @include century-700;
        font-size: 18px;
        line-height: 25px;
        color: $scooter;
    }
}


.footerNewsletter {
    #fnTitle {
        @include filson-800;
        font-size:42px;
        line-height:42px;
        color: $scooter;
    }

    #fnText {
        @include century-400;
        font-size:16px;
        line-height:24px;
    }
}
#article-title {
    font-size: 48px;
    line-height: 58px;
    @include filson-900;
    color: $black;
    text-align: left;
}
#article-tagline {
    font-size: 24px;
    line-height: 32px;
    @include century-italic-700;
    color: $black;
    text-align: left;
    margin-bottom:10px;
    color:$scooter;
}