// ==========================================================================
// TEMPLATES - ABOUT
// ==========================================================================
#about {
    background: rgb(255,255,255);
    background: url(../../images/placeholders/Bg_Pattern_On_White.svg) repeat, linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 100%);
    background-attachment: fixed;
    min-height: 50vh;
    padding-top: 135px;

    @media screen and (max-width: 576px) {
        padding-top: 100px;
    }

    #infowrap {
        .logos {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;

            @media screen and (max-width: 576px) {
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
            }

            .dietitianLogoSvg {
                margin-bottom: -5px;
            }

            .aboutLogo {
                display: flex;
                flex-direction: row;
                align-items: flex-end;
                margin-right: 12px;
                margin-bottom: 80px;

                &:last-child {
                    margin-right: 0;
                }

                @media screen and (max-width: 1200px) {
                    margin-bottom: 60px;
                }

                @media screen and (max-width: 1200px) {
                    margin-bottom: 40px;
                }

                @media screen and (max-width: 768px) {
                    margin-bottom: 20px;
                }

                @media screen and (max-width: 576px) {
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }

                .aboutLogoTitle {
                    color: $cod;
                    font-size: 17px;
                    line-height: 22px;
                    @include century-400;
                    margin-left: 8px;
                    max-width: 186px;
                    text-align: left;

                    @media screen and (max-width: 1200px) {
                        font-size: 15px;
                        line-height: 17px;
                    }

                    @media screen and (max-width: 576px) {
                        text-align: left;
                        margin-right: 0;
                    }
                }
            }
        }

        .textContent {
            .subtitle {
                @include filson-400;
                color: #000;
                font-size: 25px;
                margin-bottom: 20px;
            }

            .title {
                @include filson-900;
                color: #000;
                font-size: 48px;
                line-height: 58px;
                margin-bottom: 30px;

                @media screen and (max-width: 768px) {
                    font-size: 38px;
                    line-height: 48px;
                }
            }

            .rte {
                padding {
                    @include century-400;
                    color: $cod;
                    font-size: 18px;
                    line-height: 28px;
                }
            }
        }
    }

    #headerLogosContainer {
        justify-content:flex-start;
        @media screen and (max-width: 992px) {
            flex-direction: row;
            justify-content: flex-start;
            align-content: center;
            align-items: center;
        }

        @media screen and (max-width: 374px) {
            flex-direction: column;
        }

        .headerLogo {
            @media screen and (max-width: 992px) {
                flex-direction: row;
            }

            @media screen and (max-width: 374px) {
                flex-direction: column-reverse;
                margin-bottom: 20px;
                margin-right: 0;
            }

            .dietitianLogoSvg{
                width:85px;
                height:85px;
            }

            .headerLogoTitle {
                color: $cod;
                font-size: 17px;
                line-height: 22px;
                @include century-700;
                max-width: 168px;

                @media screen and (max-width: 992px) {
                    font-size: 14px;
                    line-height: 17px;
                    max-width: 145px;
                }

                @media screen and (max-width: 900px) {
                    font-size: 12px;
                    line-height: 15px;
                    max-width: 115px;
                }

                @media screen and (max-width: 374px) {
                    text-align: center;
                    margin-right: 0;
                }
            }
        }
    }

    .imgWrap {
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;

        #aboutImg {
            border-radius: 15px;
            margin-bottom: 100px;
            max-width: 100%;
            height: auto;
        }
    }
}