// ==========================================================================
// TEMPLATES - NUTRITION FACTS LISTING
// ==========================================================================
.nutritionFactsListing-page {
    background: url(../../images/placeholders/Bg_Pattern.svg) repeat, linear-gradient(90deg, rgba(49,175,198,1) 0%, rgba(77,208,229,1) 100%);
    background-attachment: fixed;
}
#nutritionFactsListingBg {
    position:relative;
    &:after{
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        min-height:100vh;
        z-index:-1;
        content:"";
    }
}
#nutritionFactsListing {
    padding: 60px 0 120px 0;

    .container-fluid {
    }
}
$cardRadius:15px;
$cardPadding: 40px 30px;

.cardClickable {
    /*See below for hover effects*/
    .cardContainer {
        min-height: 325px;
        background: $white;
        border-radius: $cardRadius;
        display: flex;
        flex-direction: row;
        margin-bottom: 30px;
        border:2px solid $white;

        @media screen and (max-width: 1400px) {
            min-height: unset;
            flex-direction: column-reverse;
        }

        @media screen and (max-width: 991px) {
            min-height: 380px;
            flex-direction: row;
        }

        @media screen and (max-width: 576px) {
            min-height: unset;
            flex-direction: column-reverse;
        }

        .cardContent {
            flex: 1 1 57%;
            padding: $cardPadding;

            @media screen and (max-width: 1400px) {
                flex: 1 1 100%;
            }

            @media screen and (max-width: 991px) {
                flex: 1 1 57%;
            }

            @media screen and (max-width: 576px) {
                flex: 1 1 100%;
            }

            .cardTitle {
                @include filson-italic-900;
                font-size: 34px;
                line-height: 41px;
                color: $scooter;
                margin-bottom: 40px;
            }

            .cardTags {
                display: none;
                margin-bottom: 40px;
            }

            .cardCta {
                @include filson-italic-700;
                font-size: 17px;
                line-height: 20px;
                color: $scooter;

                .cardCtaArrow {
                    .cardCtaArrowStyle {
                        fill: #31bed7;
                    }
                }
            }
        }

        .cardImgContainer {
            flex: 1 1 43%;
            background: $white;
            border-bottom-right-radius: $cardRadius;
            border-top-right-radius: $cardRadius;
            overflow: hidden !important;

            @media screen and (max-width: 1400px) {
                border-radius: $cardRadius;
            }

            @media screen and (max-width: 991px) {
                border-bottom-right-radius: $cardRadius;
                border-top-right-radius: $cardRadius;
                border-bottom-left-radius: 0;
                border-top-left-radius: 0;
            }

            @media screen and (max-width: 576px) {
                border-radius: $cardRadius;
            }

            .cardImg {
                width: 100%;
                height: 100%;
                transform: scale(1);

                @media screen and (max-width: 1400px) {
                    height: 100%;
                    min-height: 275px;
                }

                @media screen and (max-width: 991px) {
                    height: 100%;
                    min-height: 100%;
                }

                @media screen and (max-width: 576px) {
                    height: 100%;
                    min-height: 275px;
                }

                img {
                    max-width: 100%;
                    height: auto;
                }
            }
        }

        &:hover {
            .cardImgContainer {
                .cardImg {
                    transform: scale(1.05);
                    transition: $basicTransition;
                }
            }
        }
    }
}





.findRSection {
    padding: 100px 0;

    .findRecipesContent {
        padding-right: 30px;

        @media screen and (max-width: 1400px) {
            padding-right: 0%;
        }

        @media screen and (max-width: 991px) {
            margin-bottom: 40px;
        }

        @media screen and (max-width: 576px) {
            padding-right: 0;
        }

        .findRTitle {
            @include filson-700;
            color: $white;
            letter-spacing: -1.6px;
            font-size: 60px;
            line-height: 62px;
            margin-bottom: 30px;

            @media screen and (max-width: 1200px) {
                font-size: 54px;
                line-height: 56px;
            }

            @media screen and (max-width: 991px) {
                font-size: 70px;
                line-height: 72px;
            }

            @media screen and (max-width: 768px) {
                font-size: 64px;
                line-height: 66px;
            }

            @media screen and (max-width: 576px) {
                font-size: 44px;
                line-height: 46px;
            }
        }

        .findRText {
            margin-bottom: 30px;
            color: $white;
            @include century-400;
            font-size: 16px;
            line-height: 24px;
            padding-right: 15%;

            @media screen and (max-width: 1400px) {
                padding-right: 10%;
            }

            @media screen and (max-width: 1200px) {
                padding-right: 0;
            }

            @media screen and (max-width: 576px) {
                padding-right: 0;
            }
        }

        .findRCta {
            color: $white;

            .findRCtaArrow {

                .findRCtaArrowStyle {
                    fill: $white;
                }
            }
        }
    }

    .finRImgContainer {
        height: 380px;
        border: 2px solid $white;
        border-radius: $cardRadius;
        overflow: hidden;
        position: relative;

        .findImgTxt {
            position: absolute;
            z-index: 2;
            width: 100%;
            height: 100%;
            padding: $cardPadding;

            .findImgTxtTitle {
                color: $white;
                text-shadow: 0px 0px 9px #00333C79;
                @include filson-italic-700;
                font-size: 35px;
                line-height: 38px;
                margin-bottom:10px;
            }

            .globalCta {
                color: $white;

                .globalCtaArrowStyle {
                    fill: $white;
                }
            }
        }

        .findRImg {
            width: 100%;
            height: 100%;
            position: relative;
            z-index: 1;
            transform: scale(1);
        }

        &:hover {
            .findRImg {
                transform: scale(1.05);
                transition: $basicTransition;
            }
        }
    }
}



