// ==========================================================================
// TEMPLATES - NUTRITION FACT
// ==========================================================================
#nutritionFactBg {
    position: relative;

    &:after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        min-height: 100vh;
        background: $polar;
        z-index: -1;
        content: "";
    }
}

#nutritionFact {
    padding: 60px 0 120px 0;

    #embedVideo {
        position: relative;
        width: 100%;
        height: 0;
        padding-bottom: 56.25%;
        margin-bottom: 80px;

        .videoKeepRatio {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    #factImage {
        width: 100%;
        display: block;
        margin-bottom: 80px;
        border-radius: 20px;
    }

    .rte {
        background-color: #fff;
        border-radius: 20px;
        padding: 75px;

        @media screen and (max-width: 1400px) {
            padding: 45px;
        }

        @media screen and (max-width: 576px) {
            padding: 25px;
        }


        @include century-400;
        color: $cod;
        font-size: 18px;
        line-height: 28px;

        /*strong {
            @include filson-700;
            color: $cod;
            margin-top: 20px;
            font-size: 30px;
            line-height: 32px;
            display: inline-block;
        }*/
    }
}