// ==========================================================================
// TEMPLATES - PROFILE
// ==========================================================================

#profile {
    background: url(/images/placeholders/Bg_Pattern_On_White.svg) 0 0 repeat #fff;
    background-attachment: fixed;

    .banner {
        height: 1200px;
        width: 100%;
        position: relative;

        #bannerInfo {
            margin-top: 130px;
            text-align: left;

            .htitle {
                font-size: 113px;
                line-height: 112px;
                letter-spacing: -2.6px;
                text-align: left !important;
            }

            #introText {
                @include century-400;
                font-size: 16px;
                line-height: 24px;
                color: $white;
                max-width: 350px;
            }
        }

        .bannerBtn {
            height: 56px;
            background-color: #fff;
            padding: 10px;
            border-radius: 35px;
            display: inline-flex;
            align-items: center;
            text-decoration: none;
            padding-right: 20px;
            position: absolute;

            .bannerBtnIcon {
                margin-right: 12px;
            }

            .bannerBtnStatement {
                @include century-italic-400;
                color: $scooter;
                font-size: 18px;
                line-height: 20px;
            }

            &.factPage {
                svg {
                    margin-left: 10px;

                    .arrowPath {
                        fill: #31bed7;
                    }
                }
            }
        }

        #recipeMaker {
            display: block;
            width: 76px;
            background-color: #fff;
            padding: 10px;
            border-top-left-radius: 35px;
            border-top-right-radius: 35px;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-bottom: 10px;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);

            img {
                margin-bottom: 6px;
            }

            .markerLabel {
                @include century-italic-400;
                color: $scooter;
                font-size: 14px;
                text-align: center;
                margin-bottom: 6px;
            }

            .downArrow {
                color: $scooter;
                font-size: 14px;
                text-align: center;
                transform: rotate(90deg);
            }
        }

        @media screen and (min-width: 1921px) {
            background-size: cover !important;
        }

        &.taste-for-music {
            #factPanelBtn-1 {
                top: 52%;
                left: 51%;
            }

            #factPanelBtn-2 {
                top: 61%;
                left: 25%;
            }

            #factPanelBtn-3 {
                top: 81%;
                left: 33%;
            }

            #factPanelBtn-4 {
                top: 82%;
                left: 61%;
            }

            #factPage {
                top: 61%;
                left: 67%;
            }
        }

        &.yoga-lover {
            #factPanelBtn-1 {
                top: 45%;
                left: 49%;
            }

            #factPanelBtn-2 {
                top: 54%;
                left: 33%;
            }

            #factPanelBtn-3 {
                top: 67%;
                left: 45%;
            }

            #factPanelBtn-4 {
                top: 76%;
                left: 68%;
            }

            #factPage {
                top: 60%;
                left: 66%;
            }
        }

        &.food-intolerance {
            #factPanelBtn-1 {
                top: 40%;
                left: 46%;
            }

            #factPanelBtn-2 {
                top: 67%;
                left: 42%;
            }

            #factPanelBtn-3 {
                top: 75%;
                left: 28%;
            }

            #factPanelBtn-4 {
                top: 76%;
                left: 65%;
            }

            #factPage {
                top: 52%;
                left: 53%;
            }
        }

        &.capsule-time {
            #factPanelBtn-1 {
                top: 59%;
                left: 65%;
            }

            #factPanelBtn-2 {
                top: 70%;
                left: 23%;
            }

            #factPanelBtn-3 {
                top: 76%;
                left: 45%;
            }

            #factPanelBtn-4 {
                top: 78%;
                left: 67%;
            }

            #factPage {
                top: 48%;
                left: 45%;
            }
        }

        &.family-togetherness {
            #factPanelBtn-1 {
                top: 36%;
                left: 22%;
            }

            #factPanelBtn-2 {
                top: 43%;
                left: 44%;
            }

            #factPanelBtn-3 {
                top: 62%;
                left: 33%;
            }

            #factPanelBtn-4 {
                top: 71%;
                left: 59%;
            }

            #factPage {
                top: 52%;
                left: 64%;
            }
        }

        &.active-lifestyle {
            #factPanelBtn-1 {
                top: 48%;
                left: 46%;
            }

            #factPanelBtn-2 {
                top: 61%;
                left: 60%;
            }

            #factPanelBtn-3 {
                top: 73%;
                left: 68%;
            }

            #factPanelBtn-4 {
                top: 77%;
                left: 38%;
            }

            #factPage {
                top: 58%;
                left: 19%;
            }
        }

        &.budget-crunch {
            #factPanelBtn-1 {
                top: 39%;
                left: 45%;
            }

            #factPanelBtn-2 {
                top: 58%;
                left: 68%;
            }

            #factPanelBtn-3 {
                top: 80%;
                left: 35%;
            }

            #factPanelBtn-4 {
                top: 82%;
                left: 68%;
            }

            #factPage {
                top: 62%;
                left: 29%;
            }
        }

        &.breakfast {
            #factPanelBtn-1 {
                top: 48%;
                left: 38%;
            }

            #factPanelBtn-2 {
                top: 72%;
                left: 46%;
            }

            #factPanelBtn-3 {
                top: 75%;
                left: 20%;
            }

            #factPanelBtn-4 {
                top: 79%;
                left: 62%;
            }

            #factPage {
                top: 60%;
                left: 63%;
            }
        }

        &.healthy-wisdom {
            #factPanelBtn-1 {
                top: 40%;
                left: 24%;
            }

            #factPanelBtn-2 {
                top: 63%;
                left: 68%;
            }

            #factPanelBtn-3 {
                top: 64%;
                left: 31%;
            }

            #factPanelBtn-4 {
                top: 86%;
                left: 26%;
            }

            #factPage {
                top: 49%;
                left: 46%;
            }
        }
    }

    .factPanel {
        display: none;
        width: 600px;
        height: 100VH;
        position: fixed;
        top: 0;
        right: -600px;
        background-color: #fff;
        padding: 0 45px;
        z-index: 111;

        .btnClose {
            position: absolute;
            top: 19px;
            left: 18px;
            border: none;
            outline: none;
            background: none;
        }

        .panelImageWrap {
            width: 100%;
            margin-top: 72px;
            margin-bottom: 32px;
            text-align: center;

            .panelImage {
                max-width: 100%;
            }
        }

        .info {
            text-align: left;

            .factStatement {
                @include filson-700;
                color: #000;
                font-size: 22px;
                line-height: 24px;
                margin-bottom: 20px;
            }

            .factTitle {
                @include filson-700;
                color: $scooter;
                font-size: 24px;
                line-height: 32px;
                margin-bottom: 18px;
            }

            .factText {
                @include century-400;
                color: #000;
                font-size: 16px;
                line-height: 24px;
                margin-bottom: 34px;
            }

            .globalCta {
                color: $scooter;

                .globalCtaArrowStyle {
                    stroke: $scooter;
                }
            }
        }
    }

    #recipes {
        margin-top: 160px;

        .recipe {
            margin-bottom: 112px;

            .recipeContentLeft {
                padding-right: 30px;

                .recipeStatement {
                    @include century-italic-400;
                    padding-left: 58px;
                    color: $scooter;
                    font-size: 26px;
                    text-align: left;
                    margin-bottom: 20px;

                    &:before {
                        width: 34px;
                        height: 34px;
                        content: '';
                        background: url(/images/icons/Icon_Recipe.svg) 0 0 no-repeat;
                        position: absolute;
                        left: 19px;
                        top: -5px;
                    }
                }

                .recipeName {
                    @include filson-900;
                    color: #000;
                    font-size: 46px;
                    line-height: 50px;
                    margin-bottom: 15px;
                }

                .info {
                    @include filson-700;
                    color: #000;
                    font-size: 22px;
                    line-height: 26px;
                }

                .author {
                    @include filson-italic-400;
                    color: #000;
                    font-size: 17px;
                    margin-top: 14px;
                }

                .preparationSteps {
                    list-style: none;
                    margin-top: 43px;

                    li {
                        display: block;
                        position: relative;
                        margin-bottom: 23px;

                        .ellipse {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 25px;
                            height: 25px;
                            border-radius: 50%;
                            background-color: $scooter;
                            @include filson-700;
                            color: #fff;
                            font-size: 15px;
                            position: absolute;
                            top: 0;
                            left: 0;
                        }

                        .step {
                            margin-left: 10px;
                            @include century-400;
                            color: #000;
                            font-size: 20px;
                            line-height: 28px;
                            padding-left: 25px;
                        }
                    }
                }

                .tipsBox {
                    width: 100%;
                    padding: 26px 36px 26px 70px;
                    background-color: $scooter;
                    position: relative;
                    border-radius: 20px;
                    margin-top: 50px;

                    .tipsIcon {
                        width: 72px;
                        height: 72px;
                        background-color: #fff;
                        border: 2px solid $scooter;
                        background: url(/images/icons/Light_Icon.svg) center center no-repeat #fff;
                        position: absolute;
                        top: 50%;
                        left: -36px;
                        transform: translateY(-50%);
                        border-radius: 50%;
                    }

                    .tipsContent {
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        min-height: 140px;
                        align-items: center;
                        justify-content: center;

                        .tipsText {
                            @include century-700;
                            font-size: 16px;
                            line-height: 24px;
                            color: #fff;
                        }

                        .tipsPic {
                            max-width: 241px;
                            margin-left: 22px;
                        }
                    }
                }
            }

            .recipeContentRight {
                position: relative;
                padding-left: 59px;

                #printAndShare {
                    position: absolute;
                    top: 0;
                    right: 0;

                    button {
                        padding: 10px 15px;
                        background-color: $scooter;
                        border: $scooter 2px solid;
                        @include filson-400;
                        color: #fff;
                        font-size: 16px;
                        margin-left: 10px;
                        display: inline-block;
                        border-radius: 23px;
                        outline: none;
                        transition: $basicTransition;

                        span {
                            display: inline-block;
                            margin-right: 10px;
                        }

                        .a {
                            fill: #fff;
                            display: inline-block;
                        }

                        &:hover {
                            background-color: #fff;
                            color: $scooter;
                            transition: $basicTransition;

                            .a {
                                fill: $scooter;
                            }
                        }
                    }
                }

                .recipeImage {
                    margin-top: 58px;
                    width: 100%;
                    position: relative;
                    z-index: 0;
                }

                .ingredientsWrap {
                    width: 526px;
                    border-radius: 20px;
                    margin: auto;
                    margin-top: -140px;
                    position: relative;
                    z-index: 1;
                    background-color: #fff;
                    padding: 35px;
                    box-shadow: 0px 0px 20px rgba(0,0,0,0.3);

                    .ingredientsTitle {
                        color: $scooter;
                        @include filson-700;
                        font-size: 20px;
                        text-transform: uppercase;
                        margin-bottom: 27px;
                    }

                    .ingredients {
                        list-style: none;

                        li {
                            display: block;
                            padding: 10px 0;
                            border-bottom: rgba($scooter,0.5) 1px solid;

                            &:last-child {
                                border: none;
                            }
                        }
                    }
                }
            }
        }
    }
}