// ==========================================================================
// TEMPLATES - ABOUT
// ==========================================================================
#resources {
    background: rgb(255,255,255);
    background: url(../../images/placeholders/Bg_Pattern_On_White.svg) repeat, linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 100%);
    background-attachment: fixed;
    min-height: 50vh;
    padding-top: 135px;

    @media screen and (max-width: 576px) {
        padding-top: 100px;
    }

    .title {
        @include filson-900;
        color: #000;
        font-size: 48px;
        line-height: 58px;
        margin-bottom: 30px;

        @media screen and (max-width: 768px) {
            font-size: 38px;
            line-height: 48px;
        }
    }

    .resourcesListingBg {
        background: #EAF9FB;
        padding-top: 10%;
        margin-top: 10%;
        padding-bottom: 70px;

        .resourcesListingContent {
            margin-top: -20%;

            .resourceContainer {
                padding: 30px;
                background: yellow;
                height: 395px;
                margin-bottom: 30px;
            }
        }
    }
}